#mobile-nav {
  display: none;
}
#mobile-nav .cancel {
  display: none;
}
#mobile-nav .info {
  display: inline-block;
  position: relative;
  top: -3px;
}
#contact {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 13px;
  background: #FFF;
  z-index: 99999999;
}
#contact a {
  color: #666;
}
#contact a i {
  font-size: 30px;
  padding: 4px 7px;
  background: #FFF;
}
#contact a span {
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  top: -4px;
}
.container {
  min-height: 500px;
  float: left;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
.container #sidebar {
  max-height: 102%;
  overflow: scroll;
  overflow-x: hidden;
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-overflow-scrolling: touch;
}
.container #sidebar .content {
  padding-top: 20px;
}
.container #sidebar .content .entry-trigger a {
  margin-bottom: 60px;
  color: #000;
  position: relative;
  text-align: right;
  padding: 15px 0;
}
.container #sidebar .content .entry-trigger a:hover {
  background: none;
}
.container #sidebar .content .entry-trigger a .name,
.container #sidebar .content .entry-trigger a .tagline,
.container #sidebar .content .entry-trigger a .date,
.container #sidebar .content .entry-trigger a .location,
.container #sidebar .content .entry-trigger a .url {
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-right: 22px;
}
.container #sidebar .content .entry-trigger a .date {
  position: relative;
  right: -3px;
  color: #FFF;
  border-radius: 3px 0 0 3px;
}
.container #sidebar .content .entry-trigger a .date .title {
  border-radius: 5px 1px 1px 5px;
  padding: 3px 2px 3px 5px;
  background: #373737;
}
.container #sidebar .content .entry-trigger a .date .triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #373737;
  position: absolute;
  right: 12px;
}
.container #sidebar .content .entry-trigger a .name {
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  margin: 8px 0 5px;
}
.container #sidebar .content .entry-trigger a .location {
  font-size: 18px;
  line-height: 23px;
}
.container #sidebar .content .entry-trigger a .tagline {
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 6px;
  font-style: italic;
  color: #999;
  font-weight: 100;
}
.container #sidebar .content .entry-trigger a .url {
  font-size: 14px;
  margin-top: 3px;
}
.container #sidebar .content .entry-trigger a .url button {
  border: 0;
  background: none;
  padding: 0 2px;
}
.container #sidebar .content .entry-trigger.faded a {
  color: #CCC;
}
.container #sidebar .content .entry-trigger.faded a .triangle-right {
  border-left: 10px solid #CCC;
}
.container #sidebar .content .entry-trigger.faded a .date .title {
  background: #CCC;
}
.container #sidebar .content .entry-trigger.faded a .url button {
  color: #CCC;
}
.container #sidebar .content .entry-trigger.active a {
  color: #000;
}
.container #sidebar .content .entry-trigger.active a .date {
  color: #FFF;
}
.container #sidebar .content .entry-trigger.active a .date .title {
  background: #373737;
}
.container #sidebar .content .entry-trigger.active a .date .triangle-right {
  border-left: 10px solid #373737;
}
.container #sidebar .content .entry-trigger.active a .name .triangle,
.container #sidebar .content .entry-trigger.active a .name .triangle:before,
.container #sidebar .content .entry-trigger.active a .name .triangle:after {
  background: #f26645;
}
.container #sidebar .content .entry-trigger.active a .location .triangle,
.container #sidebar .content .entry-trigger.active a .location .triangle:before,
.container #sidebar .content .entry-trigger.active a .location .triangle:after {
  background: #fdf64f;
}
.container #sidebar .content .entry-trigger.active a .url .triangle,
.container #sidebar .content .entry-trigger.active a .url .triangle:before,
.container #sidebar .content .entry-trigger.active a .url .triangle:after {
  background: #8dc5f6;
}
.container #sidebar .content .entry-trigger.active a .triangle,
.container #sidebar .content .entry-trigger.active a .triangle:before,
.container #sidebar .content .entry-trigger.active a .triangle:after {
  background: red;
}
.container #sidebar::-webkit-scrollbar {
  width: 0 !important;
}
.container #entry-container {
  padding-top: 20px;
  color: #000;
  background: #FFF;
  position: relative;
  overflow: scroll;
  top: 0;
  right: 0;
  bottom: 0;
}
.container #entry-container .entry {
  position: relative;
  padding-left: 24px;
  padding-right: 150px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E9E9E9;
  padding-top: 20px;
}
.container #entry-container .entry .indicator {
  position: relative;
}
.container #entry-container .entry .indicator.work,
.container #entry-container .entry .indicator.location,
.container #entry-container .entry .indicator.website {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 8px;
}
.container #entry-container .entry .indicator.work {
  background: #f26645;
}
.container #entry-container .entry .indicator.location {
  background: #fdf64f;
  left: 11px;
}
.container #entry-container .entry .indicator.website {
  background: #8dc5f6;
  left: 23px;
}
.container #entry-container .entry .marker {
  position: absolute;
  top: 10px;
  left: -3px;
  background: url('../img/marker.png') no-repeat;
  width: 82px;
  height: 36px;
  background-size: 41px;
}
.container #entry-container .entry .marker.marker-2 {
  background: url('../img/marker-2.png') no-repeat;
  background-size: 41px;
}
.container #entry-container .entry .marker.marker-1 {
  background: url('../img/marker-1.png') no-repeat;
  background-size: 18px;
}
.container #entry-container .entry .title {
  float: left;
  background: #CCC;
  color: #FFF;
  padding: 2px 5px;
  margin-top: 4px;
  margin-left: 10px;
  border-radius: 3px;
  position: relative;
  transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}
.container #entry-container .entry .title .triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #CCC;
  position: absolute;
  left: -10px;
}
.container #entry-container .entry.active .title {
  background: #373737;
  padding-left: 30px;
  margin-left: -4px;
  padding-right: 20px;
}
.container #entry-container .entry.active .title .triangle-left {
  border-right: 10px solid #373737;
}
.container #entry-container .entry .tagline {
  font-size: 17px;
  line-height: 17px;
  padding-bottom: 6px;
  font-style: italic;
  color: #999;
  font-weight: 100;
  margin-top: 9px;
  float: left;
  padding-left: 10px;
}
.container #entry-container .entry .tags {
  padding: 0;
  margin: 0;
  padding-top: 14px;
  position: absolute;
  width: 143px;
  right: 0;
  text-align: right;
  *zoom: 1;
}
.container #entry-container .entry .tags:before,
.container #entry-container .entry .tags:after {
  display: table;
  content: "";
  line-height: 0;
}
.container #entry-container .entry .tags:after {
  clear: both;
}
.container #entry-container .entry .tags li {
  float: right;
  list-style: none;
  font-size: 12px;
  padding: 3px 5px;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #286E8A;
  background: #E4ECF0;
  border-radius: 3px;
}
.container #entry-container .entry .description {
  padding: 10px 0;
  margin: 0;
  font-size: 15px;
}
.container #entry-container .entry .content {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}
.container #entry-container .entry .content ul {
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 18px;
}
.container #entry-container .entry .content ul > ul {
  margin: 0;
  font-weight: normal;
  display: none;
}
.container #entry-container .entry .content ul > ul.open {
  padding-bottom: 10px;
  padding-left: 20px;
}
.container #entry-container .entry .content .highlight-toggle {
  color: #A6ABB1;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  font-weight: normal;
}
.container #entry-container .entry .content .highlight-toggle:before {
  content: "MORE";
}
.container #entry-container .entry .content .highlight-toggle:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #5B6168;
  position: absolute;
  right: -1.1em;
  top: 2px;
}
.container #entry-container .entry .content .highlight-toggle.open:before {
  content: "HIDE";
}
.container #entry-container .entry .content .highlight-toggle.open:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #5B6168;
  border-top: 0;
  position: absolute;
  right: -1.1em;
  top: 2px;
}
.container #entry-container .entry .photos {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  *zoom: 1;
}
.container #entry-container .entry .photos:before,
.container #entry-container .entry .photos:after {
  display: table;
  content: "";
  line-height: 0;
}
.container #entry-container .entry .photos:after {
  clear: both;
}
.container #entry-container .entry .photos li {
  float: left;
  list-style: none;
  margin-right: 10px;
  max-width: 100px;
}
.container #entry-container .entry .photos li img {
  border: 6px solid #FFF;
  max-width: 100%;
}
.container #entry-container .entry .references {
  padding: 0;
}
.container #entry-container .entry .references li {
  *zoom: 1;
  list-style: none;
}
.container #entry-container .entry .references li:before,
.container #entry-container .entry .references li:after {
  display: table;
  content: "";
  line-height: 0;
}
.container #entry-container .entry .references li:after {
  clear: both;
}
.container #entry-container .entry .references li img {
  max-width: 70px;
  float: left;
  border-radius: 35px;
  -moz-border-radius: 35px;
}
.container #entry-container .entry .references li .outter {
  float: left;
  margin-left: -70px;
  width: 100%;
  padding-left: 100px;
}
.container #entry-container .entry .references li .outter .inner {
  padding: 0 10px 10px;
  font-size: 12px;
}
.container #entry-container .entry .references li .outter .inner .body {
  text-align: left;
  display: block;
  font-size: 18px;
  position: relative;
}
.container #entry-container .entry .references li .outter .inner .body:before {
  content: '“';
  font-size: 40px;
  position: absolute;
  left: -23px;
  font-family: Georgia,serif;
  color: #b4b4b4;
  top: -9px;
}
.container #entry-container .entry .references li .outter .inner .name {
  display: block;
}
.container #entry-container .entry .references li .outter .inner .source {
  display: block;
  font-size: 11px;
  font-style: italic;
  color: #A09C9C;
  font-weight: 200;
  letter-spacing: .06em;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  
}
.container #meter {
  background-image: -moz-linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);
  background-image: -o-linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);
  background-image: linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);
  -webkit-background-size: 50px 7px;
  -moz-background-size: 50px 7px;
  background-size: 50px 7px;
  *zoom: 1;
}
.container #meter:before,
.container #meter:after {
  display: table;
  content: "";
  line-height: 0;
}
.container #meter:after {
  clear: both;
}
.container #meter .filler {
  background: #FFF;
  margin-left: 6px;
  border-left: 4px solid #FFF;
}
.wrapper {
  margin-left: 250px;
}
@media (max-width: 900px) {
  .container #sidebar {
    width: 210px;
    z-index: 9999999;
  }
  .container #sidebar .content .entry-trigger a .name {
    font-size: 21px;
    line-height: 23px;
  }
  .container #sidebar .content .entry-trigger a .url button {
    font-size: 12px;
  }
  .container .wrapper {
    margin-left: 195px;
  }
}
@media (max-width: 750px) {
  .container .wrapper #entry-container .entry {
    padding-right: 0;
  }
  .container .wrapper #entry-container .entry .tags {
    position: relative;
    width: auto;
  }
  .container .wrapper #entry-container .entry .tags li {
    float: left;
  }
}
@media (max-width: 640px) {
  #mobile-nav {
    display: block;
    position: fixed;
    left: 0;
    z-index: 99999999;
    background: #FFF;
    width: 100%;
  }
  #mobile-nav i {
    background: #ececec;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    min-width: 34px;
    text-align: center;
    font-size: 24px;
  }
  #mobile-nav img {
    max-width: 29px;
    border-radius: 15px;
    position: relative;
    top: -1px;
  }
  #mobile-nav span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 10px;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
  .container #sidebar {
    transition: left 0.3s ease-in-out;
    width: 100%;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    z-index: 999999;
    position: fixed;
    overflow-y: scroll !important;
    height: 100%;
    display: none;
    padding-top: 20px;
  }
  .container #sidebar .content .entry-trigger a {
    margin-bottom: 0;
  }
  .container .wrapper {
    margin-left: 0;
    left: 0px;
    transition: left 0.3s ease-in-out;
    max-width: 640px;
    min-width: 310px;
    z-index: 99999;
    padding-top: 30px;
  }
  .container .wrapper #entry-container .entry .references li .outter .inner .body {
    font-size: 16px;
  }
  .container .wrapper #entry-container .entry .title {
    background: #373737;
  }
  .container .wrapper #entry-container .entry .title .triangle-left {
    border-right: 10px solid #373737;
  }
  .container.open #sidebar {
    background: #FFF;
    display: block;
  }
  .container.open #mobile-nav .open {
    display: none;
  }
  .container.open #mobile-nav .cancel {
    display: inline-block;
  }
  #contact {
    top: 0;
    bottom: initial;
  }
  #contact i {
    font-size: 22px;
    padding: 9px 7px;
  }
  #contact span {
    display: none;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fancybox-skin .fancybox-title .child a {
  right: inherit;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 10px;
  padding: 0 0 0 14px;
}
