#mobile-nav{
	display: none;
	.cancel{
		display: none;
	}
	.info{
		display: inline-block;
		position: relative;
		top: -3px;
	}
}
#contact{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0 13px;
	background: #FFF;
	z-index: 99999999;
	a{
		color: #666;
		i{
			font-size: 30px;
			padding: 4px 7px;
			background: #FFF;

		}
		span{
			text-transform: uppercase;
			font-size: 12px;
			position: relative;
			top: -4px;
		}
	}
}
.container{
	min-height: 500px;
	float: left;
	height: 100%;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
 	.clearfix();
	#sidebar{
		max-height: 102%;
		overflow: scroll;
		overflow-x: hidden;
		width: 260px;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		-webkit-overflow-scrolling: touch;
 		.content{
 			padding-top: 20px;
  			.entry-trigger{
  				&:last-child{

  				}
  				a{
					margin-bottom: 60px;
					color: #000;
					position: relative;
					text-align: right;
					padding: 15px 0;
					&:hover{
						background: none;
					}
					.name,.tagline,.date,.location,.url{
						transition: all .3s ease-in-out;
						position: relative;
						padding-right: 22px;
					}
					.date{
						position: relative;
						right: -3px;
						.title{
							border-radius: 5px 1px 1px 5px;
							padding: 3px 2px 3px 5px;
							background: @gray;
						}
						color: #FFF;
	 					border-radius: 3px 0 0 3px;
	 					.triangle-right{
	 						width: 0; 
							height: 0; 
							border-top: 10px solid transparent;
							border-bottom: 10px solid transparent; 
							border-left: 10px solid @gray;
							position: absolute;
							right: 12px;
	 					}
					}
					.name{
						font-size: 26px;
						font-weight: 500;
						line-height: 33px;
						margin: 8px 0 5px;
						 
	 				}
	 				.location{
	 					font-size: 18px;
						line-height: 23px;
	 					
	 				}
	 				.tagline{
	 					font-size: 17px;
						line-height: 17px;
						margin-bottom: 6px;
						font-style: italic;
						color: #999;
						font-weight: 100;
	 				}
	 				.url{
	 					font-size: 14px;
						margin-top: 3px;
	 					button{
	 						border: 0;
	 						background: none;
	 						padding: 0 2px;
	 					}
	 				}
	 			}
	 			&.faded a{
 					color: #CCC;
 					.triangle-right{
 						border-left: 10px solid #CCC;
	 				}
 					.date .title{
 						background: #CCC;
 					}
 					.url button{
 						color: #CCC;
 					}
 				}
 				&.active a{
					color: #000;
					.date{
						.title{
							background: @gray;
						}
						color: #FFF;
 	 					.triangle-right{
 							border-left: 10px solid @gray;
	 					}
					}
					.name{
 						.triangle,.triangle:before,
						.triangle:after {
							background: #f26645;
						}
	 				}
	 				.location{ 
	 					.triangle,.triangle:before,
						.triangle:after {
							background: #fdf64f;
						}
	 				}
	 				.url{
	 					.triangle,.triangle:before,
						.triangle:after {
							background: #8dc5f6;
						}
	 				}
					.triangle,
					.triangle:before,
					.triangle:after {
						background: red;
	 				}
 				}
			}
			
		}
	}
	#sidebar::-webkit-scrollbar { width: 0 !important }

 	#entry-container{
 		padding-top: 20px;
		color: #000;
		background: #FFF;
		position: relative;
		overflow: scroll;
		top: 0;
 		right: 0;
		bottom: 0;
		.entry{
			position: relative;
			padding-left: 24px;
			padding-right: 150px;
			padding-bottom: 20px;
			border-bottom: 1px solid #E9E9E9;
			padding-top: 20px;
			&:last-child{
 			}
			.indicator{
				position: relative;
				&.work,&.location,&.website{
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					height: 100%;
					width: 8px;
				}
				&.work{
					background: @red;
				}
				&.location{
					background: @yellow;
					left: 11px;
				}
				&.website{
					background: @blue;
					left: 23px;
				}
			}
			.marker{
				position: absolute;
				top: 10px;
				left: -3px;
				background: url('../img/marker.png') no-repeat;
				width: 82px;
				height: 36px;
				background-size: 41px;
				&.marker-2{
					background: url('../img/marker-2.png') no-repeat;
					background-size: 41px;
				}
				&.marker-1{
					background: url('../img/marker-1.png') no-repeat;
					background-size: 18px;
				}
			}
			.title{
				float: left;
				background: #CCC;
				color: #FFF;
				padding: 2px 5px;
				margin-top: 4px;
				margin-left: 10px;
				border-radius: 3px;
				position: relative;
				transition: padding .3s ease-in-out,margin .3s ease-in-out;
				.triangle-left{
					width: 0; 
					height: 0; 
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent; 
					border-right: 10px solid #CCC;
					position: absolute;
					left: -10px;
				}
			}
			&.active .title{
				background: @gray;
				padding-left: 30px;
				margin-left: -4px;
				padding-right: 20px;
				.triangle-left{
					border-right: 10px solid @gray;
				}
			}
			.tagline{
				font-size: 17px;
				line-height: 17px;
				padding-bottom: 6px;
				font-style: italic;
				color: #999;
				font-weight: 100;
				margin-top: 9px;
				float: left;
				padding-left: 10px;
			}
			.tags{
				padding: 0;
				margin: 0;
				padding-top: 14px;
				position: absolute;
				width: 143px;
				right: 0;
				text-align: right;
				.clearfix();
				li{
					float: right;
					list-style: none;
					font-size: 12px;
					padding: 3px 5px;
					margin-right: 4px;
					margin-bottom: 4px;
					color: #286E8A;
					background: #E4ECF0;
					border-radius: 3px;
				}
			}
			.description{
				padding: 10px 0;
				margin: 0;
				font-size: 15px;
			}
			.content{
				font-size: 14px;
				font-weight: bold;
				padding: 10px 0;
				ul{
					margin-bottom: 0;
					padding-bottom: 10px;
					padding-left: 18px;
				}
				ul > ul {
					margin: 0;
					font-weight: normal;
					display: none;
					&.open{
						padding-bottom: 10px;
						padding-left: 20px;
					}
				}
				.highlight-toggle{
					color: #A6ABB1;
					font-size: 12px;
					text-transform: uppercase;
					text-decoration: none;
					position: relative;
					font-weight: normal;
					&:before{
						content: "MORE";
					}
					&:after{
						content: "";
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 8px solid #5B6168;
						position: absolute;
						right: -1.1em;
						top: 2px;
					}
					&.open{
						&:before{
							content: "HIDE";
						}
						&:after{
							content: "";
							width: 0;
							height: 0;
							border-left: 5px solid transparent;
							border-right: 5px solid transparent;
							border-bottom: 8px solid #5B6168;
							border-top: 0;
							position: absolute;
							right: -1.1em;
							top: 2px;
						}
					}
				}
			}
			.photos{
				margin: 0;
				padding: 0;
				padding-bottom: 30px;
				.clearfix();
				li{
					float: left;
					list-style: none;
					margin-right: 10px;
					max-width: 100px;
					img{
						border: 6px solid #FFF;
						max-width: 100%;
					}
				}
			}
			.references{
				padding: 0;
				li{
					.clearfix();
					list-style: none;
					img{
						max-width: 70px;
						float: left;
						border-radius: 35px;
						-moz-border-radius: 35px;
					}
					.outter{
						float: left;
						margin-left: -70px;
						width: 100%;
						padding-left: 100px;
						.inner{
							padding: 0 10px 10px;
							font-size: 12px;
							.body{
								text-align: left;
								display: block;
								font-size: 18px;
								position: relative;
								&:before{
									content: '“';
									font-size: 40px;
									position: absolute;
									left: -23px;
									font-family: Georgia,serif;
									color: rgb(180, 180, 180);
									top: -9px;
								}
							}	
							.name{
								display: block;
 							}
							.source{
								display: block;
								font-size: 11px;
								font-style: italic;
								color: #A09C9C;
								font-weight: 200;
								letter-spacing: .06em;
 							}
						}
					}
				}
			}
		}
		
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) {  
		//#entry-container { left: 265px  }
	}
	#meter{

 			//background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
 			background-image: -moz-linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);
			background-image: -o-linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);
			background-image: linear-gradient(rgba(39, 39, 39, 0.2) 20%, transparent 5%, transparent);

			-webkit-background-size: 50px 7px;
			-moz-background-size: 50px 7px;
			background-size: 50px 7px;

			.clearfix();
		.filler{
			background: #FFF;
			margin-left: 6px;
			border-left: 4px solid #FFF;
		}
	}
}
.wrapper{
	margin-left: 250px;
}
@media (max-width: 900px){
	.container{
		#sidebar{
			width: 210px;
			z-index: 9999999;
			.content {
				.entry-trigger {
					a{
						.name{
							font-size: 21px;
							line-height: 23px;
						}
						.url button{
							font-size: 12px;
						}
					}
				}
			}
		}
		.wrapper{
			margin-left: 195px;
		}
	}
}
@media (max-width: 750px){
	.container{
		#sidebar{
 			.content {
				.entry-trigger {
				}
			}
		}
		.wrapper{
			#entry-container{
				.entry{
					padding-right: 0;
					.tags{
						position: relative;
						width: auto;
						li{
							float: left;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 640px){
	#mobile-nav{
		display: block;
		position: fixed;
		i{
			background: rgb(236, 236, 236);
			padding: 10px;
			cursor: pointer;
			margin-right: 10px;
			min-width: 34px;
			text-align: center;
			font-size: 24px;
		}
		left: 0;
		z-index: 99999999;
		background: #FFF;
		width: 100%;
		img{
			max-width: 29px;
			border-radius: 15px;
			position: relative;
			top: -1px;
		}
		span{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 13px;
			padding-left: 10px;
		}
	}
	.container{
		padding-left: 5px;
		padding-right: 5px;
		#sidebar{
 			transition: left .3s ease-in-out;
			width: 100%;
			left: 0px;
			right: 0;
			top: 0px;
			bottom: 0;
			z-index: 999999;
			position: fixed;
			overflow-y: scroll !important;
			height: 100%;
			display: none;
			padding-top: 20px;
			.content{
				.entry-trigger a{
					margin-bottom: 0;
				}
			}
		}
		.wrapper{
			margin-left: 0;
			left: 0px;
			transition: left .3s ease-in-out;
			max-width: 640px;
			min-width: 310px;
			z-index: 99999;
			padding-top: 30px;
			#entry-container{
				.entry{
					.references{
						li .outter .inner .body{font-size: 16px;}
					}
					.title{
						background: @gray;
						.triangle-left{
							border-right: 10px solid @gray;
						}
					}
				}
			}
		}
		&.open{
			#sidebar{
 			//left: 0px;
 			//width: 90%
				background: #FFF;
				display: block;
			}
			#mobile-nav{
				.open{
					display: none;
				}
				.cancel{
					display: inline-block;
				}
			}	
		}
	}
	#contact{
		top: 0;
		bottom: initial;
		i{
			font-size: 22px;
			padding: 9px 7px;
		}
		span{
			display: none;
		}
	}
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.fancybox-skin{
	.fancybox-title{
		.child{
			a{
				right: inherit;
				color: #FFF;
				text-transform: uppercase;
				text-decoration: underline;
				font-size: 10px;
				padding: 0 0 0 14px;
			}
		}
	}
}
@gray:					   #373737;
@red:  		               #f26645;
@yellow:          	       #fdf64f;
@blue:         		       #8dc5f6;
@darkgray:                 #373737;